.btn {
  &:link, &:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: $font-primary;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 2.5rem 6rem;
  }

  &--primary {
    background-color: $color-primary;
   
  }
}
