.btn {
  &:link, &:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: $font-primary;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 2rem 4rem;
    transition: .2s all;
  }

  &:hover {
    background-color: $color-primary-dark;
  }

  &--primary {
    background-color: $color-primary;
   
  }
}
