//COLORS

$color-primary: #10C9C3;
$color-primary-dark: #12ABA6;

$color-grey-light-1: #F8F9F9;
$color-grey-light-2: #E9E9E9;

$color-grey-dark-1: #838383;
$color-grey-dark-2: #141414;

//FONTS
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Arial', sans-serif;




*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  display: grid;
  position: relative;
  grid-template-columns: 
    [full-start] minmax(10px, 1fr) 
    [main-start] minmax(1120px , 1fr) [main-end]
    minmax(10px, 1fr) [full-end];
}

@media only screen and (max-width: 1140px) {
  body {
    grid-template-columns: 
    [full-start] 10px 
    [main-start] 1fr [main-end]
    10px [full-end];
  }
}