.heading-primary {
  font-size: 3.8rem;
  font-weight: 500;
  color: #1D1D1D;
  margin-bottom: 2.5rem;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 500;
  color: #1D1D1D;
  margin-bottom: 2.5rem;
}

.paragraph {
  font-family: Arial;
  font-size: 1.6rem;
  color: $color-grey-dark-1;
}